useDynLib(spikeslab, .registration = TRUE)

importFrom("parallel", mclapply)
importFrom("stats", "cor", "median", "sd", "model.matrix", "model.response", "runif", "rnorm", "rbeta",
           "delete.response", "predict", "rgamma")
importFrom("graphics", "lines", "matplot", "segments")
importFrom("utils", "head")

export(spikeslab.news, 
       spikeslab,
       plot.spikeslab,
       predict.spikeslab,
       print.spikeslab,
       sparsePC,
       sparsePC.spikeslab,
       cv.spikeslab)

S3method(plot, spikeslab)
S3method(predict, spikeslab)
S3method(print, spikeslab)
