useDynLib(spikeslab)

export(spikeslab.news, 
       spikeslab,
       plot.spikeslab,
       predict.spikeslab,
       print.spikeslab,
       sparsePC,
       sparsePC.spikeslab,
       cv.spikeslab)

S3method(plot, spikeslab)
S3method(predict, spikeslab)
S3method(print, spikeslab)
